{{ $item := .item }}
{{ $index := .index | default 0 }}

<div class="paper-container bg-white p-2 mb-2 w-full" style="border-top: 1px solid rgb(215, 210, 210);">
  <p>
    <em class="text-sm text-gray-800 mb-2">
      {{ delimit $item.Params.authors ", " }}
    </em>
    <em class="text-l font-bold text-gray-800 mb-2">{{ $item.Title }}</em>
    ({{ $item.Params.conference }} {{ $item.Params.year }})
    {{ if $item.Params.status }}
    <span class="text-sm text-gray-800 mb-2">,{{ $item.Params.status }}</span>
    {{ end }}
  </p>


  <div class="flex flex-row gap-2">
    {{ if $item.Params.code }}
    <p class="text-m mb-2">
      <a href="{{ $item.Params.code }}" class="font-bold " style="color: #059669;"><svg style="height: 1em"
          class="inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"></path>
        </svg>code</a>
    </p>
    {{ end }}

    {{ if $item.Params.pdf }}
    <p class="text-m mb-2">
      <a href="{{ $item.Params.pdf }}" class="font-bold " style="color: #059669;"><svg style="height: 1em"
          class="inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9">
          </path>
        </svg>pdf</a>
    </p>
    {{ end }}
  </div>


  <!-- 可选：论文链接 -->
  <!-- <p><a href="{{ $item.Permalink }}" class="text-blue-600 hover:underline">Read full paper</a></p> -->
</div>

<style>
  .paper-container {
    width: 70%;
    margin: 0 auto;
  }
</style>