<div style="width: 75vw; margin: 0 auto; position: relative; left: 50%; transform: translateX(-50%); ">
    <div class="zhaosheng">
        <h2>招生招聘</h2>
        <p>
            <a href="">南开大学欠驱动系统实验室</a>招收优秀的本科生、硕士生、博士生、博士后。欢迎对我们研究工作感兴趣的同学加入我们实验室。感兴趣的同学，请发信至<a
                href="sunn@nankai.edu.cn">sunn@nankai.edu.cn</a>，附带1-2页简历介绍一下基本情况。关于保送读硕、读博，请参见南开大学人工智能学院<a
                href="https://ai.nankai.edu.cn/info/1024/3456.htm">推免硕士研究生招生信息</a>。
        </p>
    </div>
    <div class="contact">
        <h2>联系我们</h2>
        <b>电话</b>：022-23503960 (孙宁)
        <br />
        <b>邮箱</b>：<a href="sunn@nankai.edu.cn">sunn@nankai.edu.cn</a> (孙宁)
        <br />
        <b>地址1</b>：南开大学津南校区人工智能学院117室
        <br />
        天津市海河教育园区同砚路38号，<span>邮编：300350</span>
        <br />
        <b>地址2</b>：南开大学深圳研究院智能技术和机器人系统研究院425室
        <br />
        广东省深圳市盐田区管下路16号，<span>邮编：518081</span>
    </div>
    <div class="map-table">
        <table class="bordered-table">
            <colgroup>
                <col style="width: 50%">
                <col style="width: 50%">
            </colgroup>
            <tr>
                <th>天津南开大学人工智能学院117实验室</th>
                <th>深圳南开大学深圳研究院425实验室</th>
            </tr>
            <tr>
                <td>
                    <img src="./images/lab1/line1.jpg" alt="">
                </td>
                <td>
                    <img src="./images/lab2/line1.jpg" alt="">
                </td>
            </tr>
            <!-- <tr>
                <td>
                    <img src="./images/lab1/line2.jpg" alt="">
                </td>
                <td>
                    <div class="image-container">
                        <img src="./images/lab2/line2-1.jpg" alt="">
                        <img src="./images/lab2/line2-2.jpg" alt="">
                    </div>
                </td>
            </tr> -->
            <!-- <tr>
                <td>
                    <iframe width="425" height="350"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=117.32445716857912%2C38.9791948016909%2C117.35363960266115%2C38.99687407827485&amp;layer=mapnik&amp;marker=38.98803499193336%2C117.33904838562012"
                        style="border: 1px solid black;"></iframe>
                </td>
                <td>
                    <iframe width="425" height="350"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=114.22612220048907%2C22.554878949829156%2C114.22794610261919%2C22.556191782061145&amp;layer=mapnik&amp;marker=22.555535367506934%2C114.22703415155411"
                        style="border: 1px solid black"></iframe>
                </td>
            </tr> -->
        </table>
    </div>
</div>

<style>
    .map-table {
        width: 100%;
    }

    .bordered-table {
        border: 1px solid #cccccc;
        /* background-color: #f0f0f0; */
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    .bordered-table th,
    .bordered-table td {
        border: 1px solid #cccccc;
        padding: 10px;
        vertical-align: middle;
    }

    .bordered-table td img {
        width: 100%;
        /* 使图片自适应宽度 */
        height: auto;
        /* 保持图片比例 */
        display: block;
        margin: 0 auto;
    }

    /* 第二行第二列中的图片适应，保持等比例缩小且居中 */
    .bordered-table td .image-container {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .bordered-table td .image-container img {
        width: 48%;
        /* 图片宽度等比例缩小，确保两张图片并排 */
        height: auto;
    }
</style>