<div class="project-award-container">
<h3>部分代表性奖励（孙宁）</h3>
<ul>
    <li>2019年，第九届<b> 吴文俊人工智能优秀青年奖</b></li>
    <li>2019年，入选<b>2019中国智能制造十大科技进展</b>（主要完成人：方勇纯、孙宁）</li>
    <li>2019年，<b>天津市知识产权创新创业发明与设计大赛一等奖</b></li>
    <li>2018年，<b>天津市自然科学一等奖</b></li>
    <li>2018年，<b>高等教育天津市级教学成果一等奖</b></li>
    <li>2019年，第五届中国“互联网+”大学生创新创业大赛，<b>优秀创新创业导师</b></li>
    <li>2017年，第十五届“挑战杯”全国大学生课外学术科技作品竞赛，<b>优秀指导教师奖</b></li>
</ul>
<h3>指导学生科研/竞赛获奖（孙宁）</h3>
<ul>
    <li>2018年，指导学生获得<b>“第十一届中国青少年科技创新奖”</b></li>
    <li>2017年，指导学生获得第十五届<b>“挑战杯”全国</b>大学生课外学术科技作品竞赛，<b>全国一等奖</b></li>
    <li>2017年，指导学生团队获得<b>中国青少年科技创新奖励基金支持项目—大学生“小平科技创新团队”</b></li>
    <li>2016年，指导本科毕设论文获得<b>天津市普通高等学校优秀毕业设计(论文)</b></li>
    <li>2016年，指导本科百项课题获得南开大学本科创新科研计划优秀项目<b>特等奖</b></li>
    <li>2016-2020年，连续5年指导本科毕业论文获南开大学优秀本科毕设（全校前3%）</li>
</ul>
<h3>指导学生获得奖学金情况（孙宁）</h3>
<ul>
    <li>2017年，指导硕士生获得<b>南开大学特等奖学金、“南开十杰”</b></li>
    <li>2017、2018年，<b>连续2年</b>指导硕士生获得<b>“天津市大学生创新奖学金”特等奖</b></li>
    <li>2017-2019年，<b>连续3年</b>指导学生获得研究生<b>国家奖学金</b></li>
</ul>
</div>
<style>
    .project-award-container{
        width: 75vw;
        position: relative;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        /* background-color: #f0f0f0; */
    }
</style>