<div class="team-student-list">
    <h4 style="margin-top: 0; color: #711a5f;">学生团队</h4>
    <h4 style="margin-top: -10px; color: #711a5f;">博士生</h4>
    <div style="display: flex; width: 100%; flex-wrap: wrap; ">
        {{ range (sort (where .Site.Pages "Type" "student") "Params.place" "asc") }}
        {{ if eq .Params.position "博士" }}
        <div class="student-card">
            {{ with .Params.photo }}
            <div class="student-photo">
                <img src="{{ . }}" alt="">
            </div>
            {{ end }}
            <div class="student-info">
                <p style="font-size: large; padding-bottom: 0.6rem; ">
                    <span>
                        <a href="{{.Params.url}}">{{ .Title }}</a>
                    </span>| <span style="color: rgb(25, 73, 163);">博士研究生</span>
                </p>
                <p><span style="color: #711a5f;">电子邮箱：</span> {{.Params.contact}}</p>
                <p><span style="color: #711a5f;">研究方向：</span> {{ .Params.description}}</p>
                <ul>
                    {{ range .Params.item }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    <h4 style="margin-top: 0px; color: #711a5f;">硕士生</h4>
    <div style="display: flex; width: 100%; flex-wrap: wrap; ">
        {{ range (sort (where .Site.Pages "Type" "student") "Params.place" "asc") }}
        {{ if eq .Params.position "硕士" }}
        <div class="student-card">
            {{ with .Params.photo }}
            <div class="student-photo">
                <img src="{{ . }}" alt="">
            </div>
            {{ end }}
            <div class="student-info">
                <p style="font-size: large; padding-bottom: 0.6rem; ">
                    <span>
                        {{ .Title }}
                    </span>| <span style="color: rgb(25, 73, 163);">硕士研究生</span>
                </p>
                <p><span style="color: #711a5f;">电子邮箱：</span> {{.Params.contact}}</p>
                <p><span style="color: #711a5f;">研究方向：</span> {{ .Params.description}}</p>
                <ul>
                    {{ range .Params.item }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    <h4 style="margin-top: 0px; color: #711a5f;">即将入学</h4>
    <div style="display: flex; width: 100%; flex-wrap: wrap; ">
        {{ range (sort (where .Site.Pages "Type" "student") "Params.place" "asc") }}
        {{ if eq .Params.position "硕士即将入学" }}
        <div class="student-card">
            {{ with .Params.photo }}
            <div class="student-photo">
                <img src="{{ . }}" alt="">
            </div>
            {{ end }}
            <div class="student-info">
                <p style="font-size: large; padding-bottom: 0.6rem; ">
                    <span>
                        {{ .Title }}
                    </span>| <span style="color: rgb(25, 73, 163);">硕士研究生</span>
                </p>
                <p><span style="color: #711a5f;">电子邮箱：</span> {{.Params.contact}}</p>
                <p><span style="color: #711a5f;">研究方向：</span> {{ .Params.description}}</p>
                <ul>
                    {{ range .Params.item }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
        {{ if eq .Params.position "博士即将入学" }}
        <div class="student-card">
            {{ with .Params.photo }}
            <div class="student-photo">
                <img src="{{ . }}" alt="">
            </div>
            {{ end }}
            <div class="student-info">
                <p style="font-size: large; padding-bottom: 0.6rem; ">
                    <span>
                        {{ .Title }}
                    </span>| <span style="color: rgb(25, 73, 163);">硕士研究生</span>
                </p>
                <p><span style="color: #711a5f;">电子邮箱：</span> {{.Params.contact}}</p>
                <p><span style="color: #711a5f;">研究方向：</span> {{ .Params.description}}</p>
                <ul>
                    {{ range .Params.item }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    
</div>

<style>
    .team-student-list {
        width: 94vw;
        margin: 0 auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        gap: 10px;
        /* background-color: #f0f0f0; */
    }

    .student-card {
        width: 49.5%;
        height: 390px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        gap: 1.0rem;
        display: flex;
    }

    .student-photo {
        width: 170px;
        height: 100%;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        /* 垂直居中 */
        text-align: center;
    }

    .student-photo img {
        /* width: 150px; */
        width: 100%;
        height: 220px;
        margin: 0;
        display: block;
        border-radius: 5%;
        object-fit: cover;
    }

    .student-info {
        flex-grow: 1;
        font-family: "Noto Sans CJK", "Microsoft YaHei", "Arial", sans-serif;
        padding-top: 5%;
        margin-right: 10px;
        width:  calc(100% - 190px);
    }

    .student-info p {
        color: #6d6d6d;
        margin: 0.4rem;
        font-size: smaller;
    }

    .student-info ul li{
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 1.4;  /* 更小的行距 */
    }

    .student-info ul{
        margin-top: 0.5rem;
        font-size: smaller;
        color: #6d6d6d;
    }

    @media(max-width:900px){
        .student-card{
            width:100%;
        }
    }

</style>