<div style="width: 55%;">
    <h4 style="margin-top: -10px;">欠驱动机器人实验室（URL）</h4>
    <p style="font-size: 1rem; text-indent: 2em; text-align: justify;">
        本实验室<b>非常注重理论研究与实际应用结合</b>，致力于<b>陆地/船用吊车、欠驱动机器人等机电系统</b>的自动控制研究，
        旨在提升它们的自动化、智能化、快速化、准确化程度，提高工作效率与安全性。本实验室研究团队入选了2017年度中国青少年
        科技创新奖励基金支持项目—大学生"小平科技创新团队"(全国仅50项)，实验室负责人<a href="/team/teacher/sunning/">孙宁</a>教授入选国家<b>四青</b>人才。

        本实验室搭建了32吨工业吊车一台，并搭建了<b>桥式吊车、船用吊车、塔式吊车、桅杆式吊车、TORA/RTAC、无人机吊运、欠驱
            动机器人、升降云梯等若干样机平台</b>，在此基础上，设计了一系列<b>轨迹规划、非线性控制</b>方法，取得了一些有特
        色的研究成果，<a href="/team/teacher/sunning/">孙宁</a>获得了一些奖励，如<b>吴文俊人工智能优秀青年奖、中国自动化学会优秀博
            士学位论文奖、吴文俊人工智能自然科学一等奖、天津市自然科学一等奖、天津市专利奖-金奖、天津市专利奖-创业奖、天津
            市知识产权创新创业发明与设计大赛一等奖</b>等，并入选<b>2019中国智能制造十大科技进展</b>。

        在学生培养方面，<a href="/team/teacher/sunning/">孙宁</a>指导学生获得了第五届中国"互联网+"大学生创新创业大赛全国总决赛金奖、
        第十一届中国青少年科技创新奖、"挑战杯"全国大学生课外学术科技作品竞赛一等奖、中国自动化学会（CAA）优秀硕士论文学位奖
        等重要奖项。基于此，<a href="/team/teacher/sunning/">孙宁</a>教授荣获<b>国家教学成果二等奖、天津市教学成果特等奖/
            一等奖</b>等，并荣获宝钢优秀教师奖。
    </p>
</div>