<div class="welcome-container">
    <h4 style="margin-top: -10px;font-size: 1.6rem;color: #711a5f;">欠驱动机器人实验室（URL）</h4>
    <p style="font-size: 1.1rem; text-indent: 2em; text-align: justify;margin-bottom: 0;">
        本实验室<b>非常注重理论研究与实际应用结合</b>，致力于<b>陆地/船用吊车、欠驱动机器人等机电系统</b>的自动控制研究，
        旨在提升它们的自动化、智能化、快速化、准确化程度，提高工作效率与安全性。本实验室研究团队入选了2017年度中国青少年
        科技创新奖励基金支持项目—大学生"小平科技创新团队"(全国仅50项)，实验室负责人<a href="/team/teacher/sunning/">孙宁</a>教授入选国家<b>四青</b>人才。

        本实验室搭建了32吨工业吊车一台，并搭建了<b>桥式吊车、船用吊车、塔式吊车、桅杆式吊车、TORA/RTAC、无人机吊运、欠驱
            动机器人、升降云梯等若干样机平台</b>，在此基础上，设计了一系列<b>轨迹规划、非线性控制</b>方法，取得了一些有特
        色的研究成果。


    </p>
</div>

<style>
    .welcome-container{
        width: 49%;
        /* background-color: #f0f0f0; */
    }

    @media (max-width: 800px){
        .welcome-container{
            width: 100%;
        }

    }
</style>